@import '../../global.scss';

// E8CE48
.topbar {
  width: 100%;
  height: $topbarHeight;
  background-color: $mainColor;
  // background-color: #E8CE48;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-direction: row;
    flex: 1;

    .left {
      display: flex;
      align-items: center;
      background-color: #E8CE48;
      height: 100%;
      padding: 0 16px;

      img {
        height: $topbarHeight - 10px;
        aspect-ratio: 1;
        object-fit: contain;
      }

      
    }

    .display-linebreak {
      white-space: pre-line;
      padding-left: 16px;
      font-size: 20pt;
      color: black;
    }

    .right {
      display: flex;
      align-items: center;
      // flex: .5;
      width: 500px;
      // height: 100%;
      // background-color: blue;
      align-self: flex-end;
      margin-right: 5%;
      margin-bottom: 16px;
      flex-direction: row;
      justify-content: space-between;

      p {
        color: white;
        font-size: 14pt;
        font-weight: 400;

        &:hover {
          color: yellow;
        }
      }
    }

    .right_mobile {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 16px;

      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: white;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
          transform-origin: left;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
          transform-origin: left;
        }

      }
    }
  }
}