@import '../../../../global.scss';

.address {
  flex: 1;
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
  justify-content: flex-end;

  .sections-address {
    flex: 0.75;
    flex-wrap: wrap;

    &.mobile {
      flex: 1;
    flex-direction: column;
    }

    p {
      font-size: 12pt;
      padding: 0.5px 0;
    }

    .line{
      width: 50px;
      height: 0px;
      border-bottom: 10px solid $mainYellow;
    }

    h2 {
      padding: 5px 0;
    }
  }
}