@import '../../global.scss';

.contact {
  background-color: white;
  padding: 0 3%;

  .contact-view {
    max-width: 65vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;

    &.mobile {
      max-width: 100vw;
    }
  }

  .contact-title {
    text-align: center;
    font-size: 40pt;
    color: grey;
  }

  .line-title {
    width: 100px;
    height: 0px;
    border-bottom: 10px solid $mainYellow;
    margin: auto;
  }
  
  .map {
    border: 0;
    width: 65vw;
    height: 200px;

    &.mobile {
      width: 100vw;
    }
  }
  

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.mobile {
      display: block;
    }
  }
}